.userWrapper{
  h1{
    font-size: 25px;
    margin-bottom: 16px;
  }

  .search{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .searchItem{
      width: 500px;
    }
    .deleteAll{
      height: 40px;
    }
  }
  .butns{
    display: flex;
    align-items: center;
    &>button:first-child{
      margin-right: 16px;
    }
  }
}