.wrapper{
  display: flex;
  &>span:not(:last-child){
    margin-right: 16px;
  }

  .tabItem{
    display: inline-block;
    padding-bottom: 8px;
    position: relative;
    cursor: pointer;
  }
  .tabItem.active:after{
    content: '';
    position: absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width: 85%;
    height: 4px;
    border-radius: 8px;
    background: rgb(247, 112, 112);
  }
}