.table{
  width: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  padding: 16px;
}
td {
  // border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 16px;
  text-align: left;
}
tr{

}
th{
  text-align: left;
  // border: 1px solid blue;

}
th .sorter{
  display: flex;
}

.arrow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}
.arrowItemUp,.arrowItemDown{
  width: 8px;
  height: 8px;
  cursor: pointer;
}